@import url("http://fonts.googleapis.com/css?family=Roboto:400,700,300");
a.chat-btn {
	width:250px;
	padding: 15px 0px 15px 0px;
	background-color: #dedede;
	color:black;
	position:fixed;
	bottom:0;
	right:100px;
	font-family:'Roboto' , Tahoma, Sans-serif;
	text-decoration:none;
	font-size:15px;
	text-align:center;
	font-weight:bold;
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
	z-index:999;
}

a.close-chat-widget {
	width:300px;
	display:block;
	padding: 5px 0px 5px 0px;
	background-color: #dedede;
	color:black;
	font-family:'Roboto' , Tahoma, Sans-serif;
	text-decoration:none;
	font-size:15px;
	text-align:center;
	font-weight:bold;
}

.ichat-widget {
	z-index:1000;
	position:fixed;
	bottom:-500px;
	right:75px;
	border:10px solid #dedede;
	border-top-left-radius: 2em;
    border-top-right-radius: 2em;
}