@import url('https://fonts.googleapis.com/css?family=Proza+Libre');
/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  font-family: 'Proza Libre', tahoma, sans-serif;

}
body {
  color: #fff;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);
		  background-color:white;
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}


/*
 * Header
 */
.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75);
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}


/*
 * Cover
 */

.cover {
  padding: 0 20px;
}

.site-wrapper {
background: url('../img/background.jpg') no-repeat   center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}


/*
 * Footer
 */

.mastfoot {
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);
}


/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 700px;
  }
}

.grid-item {
    float: left;
    background: #eee;
    margin: 10px;
    border-radius: 4px;
}

.window-wrapper {
	width:80%;
	height:90%;
	margin:0 auto;
	text-align:left;
	background: rgba(231,231,231,1);	
	-webkit-box-shadow: 0px 2px 21px -2px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 2px 21px -2px rgba(0,0,0,0.75);
	box-shadow: 0px 2px 21px -2px rgba(0,0,0,0.75);
	border-radius: 5px;
}

.url-wrapper {
	position:relative;
	clear:both;
	height:63px;
	background: rgba(245,245,245,1);	
	border:1px solid #dadada;
	-webkit-box-shadow: 0px 0px 10px -3px rgba(204,204,204,1);
	-moz-box-shadow: 0px 0px 10px -3px rgba(204,204,204,1);
	box-shadow: 0px 0px 10px -3px rgba(204,204,204,1);
}

.buttons {
	width:10%;
	height:63px;
	float:left;
	overflow:hidden;
}

.url {
	float:right;
	color:#8e8e8e;
	margin-right:10px;
	margin-top:13px;
	height:35px;
	background: white;
	border-radius:5px;
	border:1px solid #e8e7e8;
	padding:6px;
	width:87%;
}

.page-wrapper {
	clear:both !important; 
	width:100% !important;
	overflow-y: auto;
	background-color: white;
	color:black;
	text-align:left;
	padding:10px;
	border-radius:5px;
}